* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
    color: white;
}

#myvideo {
    position: relative;
    display: block;
    margin: auto;
    text-align: center;
    width: 750px;
    cursor: pointer;
}

#main {
    width: 100vw;
    position: relative;
    text-align: center;
    margin: auto;
}

#nav {
    position: absolute;
    width: 750px;
    bottom: 0px;
    padding-bottom: 5px;
    left: 0;
    right: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
}

#timer {
    display: block;
    width: 100%;
}

#timer input {
    cursor: pointer;
    width: 100%;
}

#play {
    margin-left: 10px;
    float: left;
    background: url(../icon/play-solid.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    filter: invert(100%);
    width: 30px;
    height: 35px;
    cursor: pointer;
}

#sound {
    margin-left: 10px;
    margin-top: 9px;
    float: left;
    width: 140px;
}

#sound input {
    cursor: pointer;
    width: 100%;
}

#timerLive {
    margin-left: 10px;
    margin-top: 9px;
    float: left;
    width: 38px;
    text-align: right;
}

#screen {
    margin-right: 10px;
    float: right;
    background: url(../icon/expand-solid.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    filter: invert(100%);
    width: 30px;
    height: 35px;
    cursor: pointer;
}

#miniScreen {
    margin-right: 10px;
    float: right;
    background: url(../icon/object-ungroup-regular.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    filter: invert(100%);
    width: 30px;
    height: 35px;
    cursor: pointer;
}

#autoPlay {
    margin-top: 6px;
    margin-right: 0px;
    width: 60px;
    float: right;
    cursor: pointer;
    position: relative;
}

#autoPlay i {
    display: inline-block;
    background: url(../icon/play-circle-solid.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    filter: invert(100%);
    width: 20px;
    height: 25px;
    position: absolute;
    left: 30%;
}

#autoPlay span {
    margin-top: 5px;
    margin-left: 10px;
    display: inline-block;
    width: 30px;
    height: 10px;
    background: rgb(50, 48, 59);
    border-radius: 100px;
}